  <% posts.each do |post| %>
    <% if post.browse_status == "open" %>
      <div class="card" >
        <div class="row g-0">
          <div class="card-image col-md-4">
            <%= link_to post_path(post.id) do %>
              <iframe src="<%= rails_blob_path(post.image, disposition: :inline) %>" height="200" width="300"></iframe>
            <% end %>
          </div>
          <div class="card-text col-md-8 m-auto">
            <p><%= "投稿日：#{post.created_at.to_s(:datetime_jp)}" %></p>
            <p><%= "投稿者：#{post.member.department}  #{post.member.last_name}" %></p>
            <p>件名：
              <%= link_to post_path(post.id) do %>
                <% post.subject.truncate(25) %>
              <% end %>
            </p>
            <p><%= "確認：#{post.checks.count}件" %> / <%= "コメント：#{post.comments.count}件" %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate posts %>