<div class="container">
  <div class="row m-auto">
    <div class="col-8">
      <h3>投稿編集</h3>
      <%= form_with model: @post, url: post_path, method: :patch do |f| %>
        <h4>添付画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
        <h4>件名</h4>
        <%= f.text_field :subject %>
        <h4>内容</h4>
        <%= f.text_area :text %>
        <h4>タグ</h4>
        <h6>(半角スペースで区切ると複数タグ登録できます)</h6>
        <%= f.text_field :tag_name %>
        <h4>閲覧期限</h4>
        <%= f.date_field :limit %>
        <h4>公開</h4>
        <%= f.radio_button :browse_status, "open", checked: "checked" %>
        <%= f.label :browse_status, '公開', value: "open" %>
        <%= f.radio_button :browse_status, "closed" %>
        <%= f.label :browse_status, '非公開', value: "closed" %>
        <br>
        <%= f.submit "編集", class:"btn btn-success mt-2" %>
      <% end %>
    </div>
  </div>

</div>
