<div class="container">
  <h2>投稿一覧</h2>
  <%= link_to "新規投稿", new_post_path %>

  <!--タグリスト-->
  <% @tag_list.each do |list| %>
    <!--% if list.posts.browse_status == 0 %>-->
      <%= link_to list.name, tag_posts_path(tag_id: list.id) %>
      <%="(#{list.posts.count})"%>
    <!--% end %>-->
  <% end %>

  <% @posts.each do |post| %>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="card-image col-md-4">
          <% if post.browse_status == 0 %>
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, size: '105x148' %>
            <% end %>
          </div>
          <div class="card-text col-md-8 m-auto">
            <p>
              <%= link_to post_path(post.id) do %>
                <%= post.subject.truncate(25) %>
              <% end %>
            </p>
            <p><%= post.text %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

