<div class="container">
<h5>タグが<%=@tag.tag_name%>の投稿一覧</h5>

<!--タグリスト-->
  <% @tag_list.each do |list|%>
    <% if list.posts.where(browse_status: 0).count !=0 %>
      <%=link_to list.tag_name,tag_posts_path(tag_id: list.id) %>
      <%="(#{list.posts.where(browse_status: 0).count})" %>
    <% end %>
  <% end %>

<%= render 'post_index', posts: @posts %>
<%= link_to "戻る", :back %>
