<div class="container">
<h5>タグが<%=@tag.name%>の投稿一覧</h5>

<!--タグリスト-->
<% @tag_list.each do |list|%>
  <%=link_to list.name,tag_posts_path(tag_id: list.id) %>
  <%="(#{list.posts.count})" %>
<% end %>
<% @posts.each do |post| %>
<!--投稿はカードで囲む-->
<div class="card mb-3" >
  <div class="row g-0">
    <!--タイトル表示される文字数は２５文字までにしてます-->
    <div class="card-image col-md-4">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.image, size: '105x148' %>
      <% end %>
    </div>
    <div class="card-text col-md-8 m-auto">
      <p>
        <%= link_to post_path(post.id) do %>
        <%= post.subject.truncate(25) %>
        <% end %>
      </p>
      <p>
        <%= post.text.truncate(25) %>
      </p>
    </div>
    <!--お気に入り、コメント数、投稿者は部分テンプレ-->
      <!--<div id="%=post.id %>">%= render 'favorites/favorite', post: post %></div>-->
  </div>
</div>
<% end %>


