<div class="container">
  <%= notice %> <br>
  タグ：
  <%= @tags %>

  <div class="row m-auto">

    <div class="image-responsive">
      <%= image_tag @post.image %>
      <p>閲覧期限：<%= @post.limit.to_s(:datetime_jp) %></p>
    </div>
    <div class="contents col-6">
      <h2><span><%= @post.subject %></span></h2><br>
      <p><span>内容：<%= @post.text %></span></p>
      <p></p>
      <% if @post.checked_by?(current_member) %>
        <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
        <%= button_to "確認済", post_checks_path(@post), method: :delete, class:"btn btn-sm btn-dark" %>
        <%= "確認数 : #{@post.checks.count}" %>
      <% else %>
        <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
        <%= button_to "確認", post_checks_path(@post), method: :post, class:"btn btn-sm btn-primary" %>
        <%= "確認数 : #{@post.checks.count}" %>
      <% end %>
      <% if @post.member == current_member %>
        <%= link_to "確認者一覧", post_checks_path(@post) %> <br>
        <%= link_to "編集", edit_post_path(@post), class:"btn btn-sm btn-success"%>
        <%= button_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %>
      <% end %>

      <!--コメント-->
      <p class="m-2">コメント投稿</p>
      <%= alert %>
      <%= form_with(model:[@post, @comment], method: :post) do |f| %>
        <span><%= f.text_area :comment_content %></span>
        <%= f.hidden_field :post_id, value: @post.id %>
        <p class=""><%= f.submit 'コメントする', class:"btn btn-sm btn-success" %></p>
      <% end %>
    </div>
  </div>
  <h5>コメント一覧 (コメント数：<%= @comments.count %>件)</h5>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <% @comments.each do |comment| %>
      <div class="card mb-2">
        <table class="table table-border">
          <tr><th class="m-auto">投稿者：</th><td><%= comment.member.department %> <%= comment.member.last_name %></td></tr>
          <tr><th>本　文：</th><td><%= comment.comment_content %></td></tr><!--コメントの内容が表示される-->
          <tr><th>投稿日：</th><td><%= comment.created_at.to_s(:datetime_jp) %></td></tr>
          <% if comment.member_id == current_member.id %>
            <tr><th></th><td><%= button_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %></td></tr>
          <% end %>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>