<div class="container">
  <h2>会員登録編集</h2>

  <%= form_with model: @member, url: admin_member_path, method: :patch do |f| %>
    <table class="table table-borderless">
      <div class="row">
        <tr>
          <th>名前</th>
          <td>
            <% f.label "(姓）" %><%= f.text_field :last_name, autofocus: true %>
            <% f.label "(名）" %><%= f.text_field :first_name, autofocus: true %>
          </td>
        </tr>
      </div>
      <div class="row">
        <tr>
          <th>フリガナ</th>
          <td>
            <% f.label "(セイ）" %>
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
            <% f.label "(メイ）" %>
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: " first_name_kana" %>
          </td>
        </tr>
      </div>
      <div class="row">
        <tr>
          <th><%= f.label "メールアドレス" %></th>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
      </div>
      <div class="row">
        <tr>
          <th><%= f.label "電話番号(ハイフンなし）" %></th>
          <td>
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
          </td>
        </tr>
      </div>
      <div class="row">
        <tr>
          <th><%= f.label "所属部署" %></th>
          <td>
            <%= f.text_field :department, autofocus: true, autocomplete: "department" %>
          </td>
        </tr>
      </div>
      <div class="row">
        <tr>
          <th><%= f.label "承認" %></th>
          <td>
            <%= f.radio_button :is_approval, false %>
            <%= f.label :is_approval, '非承認', value: false %>
            <%= f.radio_button :is_approval, true %>
            <%= f.label :is_approval, '承認', value: true %>
          </td>
        </tr>
      </div>
      <div class="row">
        <tr>
          <th><%= f.label "会員ステータス" %></th>
          <td>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, '無効', value: false %>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, '有効', value: true %>
          </td>
        </tr>
      </div>
      <div class="row">
        <tr>
          <th></th>
          <td>
            <%= f.submit "編集する", class:'btn btn-success col-3' %>
          </td>
        </tr>
      </div>
    </table>
  <% end %>
</div>