<h2>予定</h2>
<h4><%= @day %></h4>
<p>出欠勤情報</p>
<p>終日休み</p>
<table border="1" class= 'p-top__introduce'>
  <tr>
    <th>部署名</th>
    <th>名前</th>
  </tr>
<% schedules.each do |schedule| %>
  <tr>
    <% if schedule.oneday_off? %>
    <td><%= schedule.member.department %></td>
    <td><%= schedule.member.last_name %></td>
    <% end %>
  </tr>
<% end %>
</table>


<p>午前休み</p>
<table border="1" class= 'p-top__introduce'>
  <tr>
    <th>部署名</th>
    <th>名前</th>
  </tr>
<% schedules.each do |schedule| %>
  <tr>
    <% if schedule.morning_off? %>
    <td><%= schedule.member.department %></td>
    <td><%= schedule.member.last_name %></td>
    <% end %>
  </tr>
<% end %>  
</table>

<p>午後休み</p>
<table border="1" class= 'p-top__introduce'>
  <tr>
    <th>部署名</th>
    <th>名前</th>
  </tr>
  <% schedules.each do |schedule| %>
  <tr>
    <% if schedule.afternoon_off? %>
    <td><%= schedule.member.department %></td>
    <td><%= schedule.member.last_name %></td>
    <% end %>
  </tr>
  <% end %>
</table>


<p>出張情報</p>
<table border="1" class= 'p-top__introduce'>
  <tr>
    <th>部署名</th>
    <th>名前</th>
    <th>行先</th>
  </tr>
  <% schedules.each do |schedule| %>
  <tr>
    <% if schedule.trip? %>
    <td><%= schedule.member.department %></td>
    <td><%= schedule.member.last_name %></td>
    <td><%= schedule.trip %></td>
    <% end %>
  </tr>
<% end %>
</table>


<p>外出情報</p>
<table border="1" class= 'p-top__introduce'>
  <tr>
    <th>部署名</th>
    <th>名前</th>
    <th>行先</th>
  </tr>
  <% schedules.each do |schedule| %>
  <tr>
    <% if schedule.go_out? %>
    <td><%= schedule.member.department %></td>
    <td><%= schedule.member.last_name %></td>
    <td><%= schedule.go_out %></td>
    <% end %>
  </tr>
  <% end %>
</table>


<p>その他情報</p>
<table border="1" class= 'p-top__introduce'>
  <tr>
    <th>部署名</th>
    <th>名前</th>
    <th>内容</th>
  </tr>
  <% @schedules.each do |schedule| %>
  <tr>
    <% if schedule.other? %>
    <td><%= schedule.member.department %></td>
    <td><%= schedule.member.last_name %></td>
    <td><%= schedule.other %></td>
    <% end %>
  </tr>
  <% end %>
</table>