
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>一週間予定</h3>
      <p>皆さんの予定が確認できます。</p>
    </div>
    <div class="col-12 mt-3">
      <%= link_to "新規作成",   new_schedule_path %>
      <%= week_calendar events: @schedules do |date, schedules| %>
        <%= link_to date.day, schedule_path(date) %> <br>
        <% if grouping_attendance(schedules, "oneday_off") != 0 %>
          <%= "終日休:#{grouping_attendance(schedules, "oneday_off")}名" %><br>
        <% end %>
        <% if grouping_attendance(schedules, "morning_off") != 0 %>
          <%= "AM休:#{grouping_attendance(schedules, "morning_off")}名" %><br>
        <% end %>
        <% if grouping_attendance(schedules, "afternoon_off") != 0 %>
          <%= "PM休:#{grouping_attendance(schedules, "afternoon_off")}名" %><br>
        <% end %>
        <% if grouping_attendance(schedules, "leaving_early") != 0 %>
          <%= "早退:#{grouping_attendance(schedules, "leaving_early")}名" %><br>
        <% end %>
        <% if grouping_trip(schedules) != 0 %>
          <%= "出張:#{grouping_trip(schedules)}名" %><br>
        <% end %>
        <% if grouping_go_out(schedules) != 0 %>
          <%= "外出:#{grouping_go_out(schedules)}名" %><br>
        <% end %>
        <% if grouping_other(schedules) != 0 %>
          <%= "その他予定:#{grouping_other(schedules)}件" %><br>
        <% end %>
      <% end %>
    </div>
    <!---->
  </div>
</div>