<%= javascript_pack_tag 'schedule/new' %>
<div class="container">
  <div class="row m-auto">
    <div class="col-8">
      <h3>予定作成</h3>
      <p></p>
      <% if @schedule.errors.any? %>
        <%= @schedule.errors.count %>件のエラーが発生しました
        <ul>
          <% @schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @schedule, url: schedules_path, method: :post do |f| %>
        <h5 class="mt-3">①日付を選択</h5>
        <%= f.date_field :day ,class:"ml-3"%> <br>
        <h5 class="mt-5">②予定を選択</h5>
        <div id="radioBtn" class="ml-3">
          <%= f.radio_button :select_schedule, 1 %>
          <%= f.label :schedule, "出欠勤情報", class: "mt-2"%> <br>

          <%= f.radio_button :select_schedule, 2 %>
          <%= f.label :schedule, "出張情報" %> <br>

          <%= f.radio_button :select_schedule, 3 %>
          <%= f.label :schedule, "その他予定" %> <br>
        </div>


        <div id="displayBox" class="mt-5 pt-5 border-top">
          <div class="cm_box">
            <div id="radioBtn2">
              <%= f.radio_button :attendance, Schedule.attendances.key(0), class:"ml-5" %>
              <%= f.label :attendance, Schedule.attendances_i18n[:oneday_off] %>
              <%= f.radio_button :attendance, Schedule.attendances.key(1) %>
              <%= f.label :attendance, Schedule.attendances_i18n[:morning_off] %>
              <%= f.radio_button :attendance, Schedule.attendances.key(2) %>
              <%= f.label :attendance, Schedule.attendances_i18n[:afternoon_off] %>
              <%= f.radio_button :attendance, Schedule.attendances.key(3) %>
              <%= f.label :attendance, Schedule.attendances_i18n[:leaving_early] %> <br>
            </div>

          </div>
        </div>
        <div id="displayBox">
          <div class="cm_box">
            <div id="radioBtn3">
              <%= f.radio_button :schedule, :trip, class:"ml-5" %>
              <%= f.label :trip, "出張"%>
              <%= f.radio_button :schedule, :go_out, class:"ml-5" %>
              <%= f.label :go_out, "外出" %>
            </div>
            <div id="tripBox">
              <div class="box active">
                <tr><th>　　　行先</th><td><%= f.text_field :trip %></td></tr>
              </div>
              <div class="box">
                <tr><th>　　　行先</th><td><%= f.text_field :go_out %></td></tr>
              </div>
            </div>
          </div>
        </div>
        <div id="displayBox">
          <div class="cm_box">
            <p>　　　予定を記述してください。</p>
            <%= f.text_field :other, class:"ml-5" %>
          </div>
        </div>

        <%= f.hidden_field :member_id, :value=> current_member.id %> <br>
        <%= f.submit "③保存", class:"btn btn-success mt-3" %>
      <% end %>
    </div>
  </div>
</div>
