<%= javascript_pack_tag 'schedule/new' %>
<div class="container">
  <div class="row m-auto">
    <div class="col-8">
      <h3>予定作成</h3>
      <p></p>
      <% if @schedule.errors.any? %>
        <%= @schedule.errors.count %>件のエラーが発生しました
        <ul>
          <% @schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @schedule, url: schedules_path, method: :post do |f| %>
        <h6 class="mt-3">日付を選択</h6>
        <%= f.date_field :day %> <br>
        <%= f.radio_button :select_schedule, 1,  checked: "checked" %>
        <%= f.label :schedule, "出欠勤情報", class:"mt-5" %> <br>
          <%= f.radio_button :attendance, Schedule.attendances.key(0), class:"ml-5" %>
          <%= f.label :attendance, Schedule.attendances_i18n[:oneday_off] %>
          <%= f.radio_button :attendance, Schedule.attendances.key(1) %>
          <%= f.label :attendance, Schedule.attendances_i18n[:morning_off] %>
          <%= f.radio_button :attendance, Schedule.attendances.key(2) %>
          <%= f.label :attendance, Schedule.attendances_i18n[:afternoon_off] %>
          <%= f.radio_button :attendance, Schedule.attendances.key(3) %>
          <%= f.label :attendance, Schedule.attendances_i18n[:leaving_early] %> <br>
        <%= f.radio_button :select_schedule, 2 %>
        <%= f.label :schedule, "出張情報", class:"mt-5" %> <br>
          <%= f.radio_button :schedule, :trip, class:"ml-5" %>
          <%= f.label :trip, "出張"%>
          <tr><th>行先</th><td><%= f.text_field :trip, class:"ml-2" %></td></tr><br>
          <%= f.radio_button :schedule, :go_out, class:"ml-5" %>
          <%= f.label :go_out, "外出" %>
          <tr><th>行先</th><td><%= f.text_field :go_out, class:"ml-2" %></td></tr><br>
        <%= f.radio_button :select_schedule, 3 %>
        <span class="js-check"><%= f.label :schedule, "その他予定", class:"mt-5" %></span> <br>
        <%= f.text_field :other, class:"ml-5" %>
        <%= f.hidden_field :member_id, :value=> current_member.id %> <br>
        <%= f.submit "保存", class:"btn btn-success mt-3" %>
      <% end %>
    </div>
  </div>
</div>
