<div class="container">
  <h2>投稿一覧</h2>
  <p>
    <%= link_to "新規投稿", new_post_path %>
  </p>


  <!--タグリスト-->
  <%= "タグリスト："%>
  <% @tag_list.each do |list|%>
      <%=link_to list.tag_name,tag_posts_path(tag_id: list.id) %>
      <%="(#{list.posts.count})" %>
  <% end %>

  <% @posts.each do |post| %>
    <% if post.member.id == current_member.id %>
      <div class="card col-6" >
        <div class="row g-0">
          <div class="card-image col-md-4">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, size: '105x148' %>
            <% end %>
          </div>
          <div class="card-text col-md-8 m-auto">
            <p><%= "投稿日：#{post.created_at.to_s(:datetime_jp)}" %></p>
            <p><%= "投稿者：#{post.member.department}  #{post.member.last_name}" %></p>
            <p>件名：
              <%= link_to post_path(post.id) do %>
                <% post.subject.truncate(25) %>
              <% end %>
            </p>
            <p><%= "確認：#{post.checks.count}件" %> / <%= "コメント：#{post.comments.count}件" %></p>

          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>